.orange {
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
}
.blue {
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}
.red {
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}
.yellow {
    background-color: yellow;
    padding: 5px;
    border-radius: 10px;
}
.purple {
    background-color: purple;
    padding: 5px;
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}